.header__info-wrapper {
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 530px) {
    .header__info-wrapper {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }
}

@media screen and (max-width: 320px) {
    .header__info-wrapper {
        margin-right: 27px;
    }
}