.elements {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    gap: 17px;
}

@media screen and (max-width: 880px) {
    .elements {
        justify-content: center;
    }
}

@media screen and (max-width: 360px) {
    .elements {
        gap: 20px;
    }
}