.profile__name-wrapper {
    display: flex;
    align-items: center;
    gap: 18px;
}

@media screen and (max-width: 320px) {
    .profile__name-wrapper {
        margin-left: 24px;
        gap: 10px;
    }
}